<style>
body{margin:0}
a{text-decoration-line: none}
h1{font-size: 30px;
text-align:center;
border-bottom:3px solid gray;
padding:20px;
margin:0;}
#grid ol{border-right: solid gray 3px;
width: 300px;
margin:0;
padding: 35px}
#grid{display:grid;
grid-template-columns: 350px 1fr}
#grid #article{padding: 50px; padding-top: 13px}
@media(max-width:900px){
#grid{display: block;}
#grid ol{border-right: none;}
h1{border-bottom:none;}}
</style>
